@font-face {
  font-family : Montserrat-Regular;
  src         : url("~/assets/fonts/MontserratRegular.woff") format("woff");
}

@font-face {
	font-family: Raleway-Light;
	src         : url("~/assets/fonts/Raleway-Light.woff2") format("woff2");
}

@font-face {
	font-family: Raleway-Bold;
	src         : url("~/assets/fonts/Raleway-Bold.woff2") format("woff2");
}


$cashmere: #CBC5C1;
$frenchblue: #A2AAB0;
$whitewash: #EBECED;
$denim: #4C586F;
$gray: #3E3E3B;

$blue-0: #233a44;
$blue-1: #3d6478;
$blue-2: #5888a1;
$blue-3: #79a7be;
$blue-4: #b8d3e0;
$blue-5: #d3e2ea;
$blue-6: #536f7f;
$blue-7: #728b99;
$blue-8: #31505e;
$yellow-0: #e7c536;
$yellow-1: #e6d37e;
$yellow-2: #e5dcb5;
$yellow-3: #f2eedb;
